/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2016, 19:22:31
    Author     : Thayro
*/

*{
    margin: 0;
    margin-left: 5px;
    padding: 0;
    
}

fieldset {
    border: 0;
}

body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

div.mensagem input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: white;
    border-color: white;
    font-family: "Arial";
    color: #ce0100; 
}

input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: white;
    border-color: white;
    font-family: "Arial";
    color: #000; 
}

.grupo:after {
    clear: both;
}
.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}
.campo input[type="text"],
.campo input[type="password"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.obg{
    font-size: 13px;
    color: #ce0100;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}