/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/03/2016, 20:07:59
    Author     : Thayro
*/
table {   
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table th {
    text-align: center;
    background-color: cadetblue;
    color: white;
}

table tr:hover {
    background-color: #337fed;
    color: #ffffff;
}
