/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/03/2016, 20:50:42
    Author     : Thayro
*/

*{
    margin: auto;
    padding: auto;
    scrollbar-face-color:#FF69B4;
    scrollbar-highlight-color:#FF69B4;
    scrollbar-3dlight-color:#343434;
    scrollbar-darkshadow-color:#343434;
    scrollbar-shadow-color:#FF69B4;
    scrollbar-arrow-color:#343434;
    scrollbar-track-color:#343434;
}
::-webkit-scrollbar {width: 20px; height: 4px; background:#000000 ; }
::-webkit-scrollbar-thumb { background: #343434; }

.logo{
    margin: auto;
    padding: 35px;
}

.msg{
    padding:5px;
    position: absolute;
    padding-left:90px;
}

body {
    background-image: url(../img/marcagua3.png);
    background-repeat: repeat;
}
footer.rodape{
    font-family: "Arial";
    font-size: small;
    color: black;

}

div.mensagem input{
    background-color: #000;
    border-color: #000;
    font-family: "Arial";
    color: #ce0100; 
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.menu{
    list-style-type: none;
    margin: auto auto auto auto;
    border: 0px solid white;
    float: left;
}

.menu li{
    position: relative;
    float: left;
    border-right: 1px solid white ;
    padding-left: 80px;
    padding-right: 80px;
    background-color: black;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
}

.menu li a{
    font-family: "Arial Black";
    text-transform: fullsize-kana;
    font-size: 13px;
    color: white;
    text-decoration: none;    
    text-align: center;
}

.menu li a:hover{
    background-color: #990000;
    color: #FFFFFF;         
}

.menu li:hover{
    background-color: #990000;
    color: #FFFFFF;        
}

.menu li ul{
    position: absolute;
    top:30px;
    left: -40px;
    display: none;

}

.menu li ul li{
    border: 1px solid white;
    display: block;
    width: 110px;
    height: 28px;
    line-height: 25px;
    text-align: center;    
}

.menu li:hover ul, .menu li ul li:hover ul, .menu li.over ul, .menu li ul li.over ul{
    display: block;
}
.paginaPrincipal{
    margin: auto;
}

div iframe{
    background-color: white;
    border-style: solid;
    box-shadow: 0px 0px 100px black;
    box-sizing: border-box;
    border-radius: 20px;
}
.menuTopo {
    position:fixed;
    margin-top: auto;
    background-color: #000;
    width: 100%;
    height: 40px;
}
.textoLogar{
    font-family: "Arial";
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.criarConta{
    font-family: "Arial";
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.topoLogar input:focus{
    background: #ffffcc;
}

div input.campoEmail{
    border-radius: 8px;
}

div.logado{
    font-family: "Arial";
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

div.logado a:link, a:visited, a:active {
    color: #ffffff;
    text-decoration: none;
}
div.logado a:hover {text-decoration: none;  
                    color: #FFFFFF; 
                    font-size:150%; 
}

div.topoLogar a.textoQtd:link, a.textoQtd:visited, a.textoQtd:active {
    color: #ffffff;
    text-decoration: none;
}
div.topoLogar a.textoQtd:hover {text-decoration: none;  
                                color: #1570cd; 
                                font-size:150%; 
}

.logarEntrar {
    font-size:9px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:0px solid #d83526;
    padding:6px 7px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
    background:-ms-linear-gradient( top, #fe1a00 5%, #ce0100 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fe1a00), color-stop(100%, #ce0100) );
    background-color:#fe1a00;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #b23e35;
    -webkit-box-shadow:inset 1px 1px 0px 0px #f29c93;
    -moz-box-shadow:inset 1px 1px 0px 0px #f29c93;
    box-shadow:inset 1px 1px 0px 0px #f29c93;
}.logarEntrar:hover {
    background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
    background:-ms-linear-gradient( top, #ce0100 5%, #fe1a00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ce0100), color-stop(100%, #fe1a00) );
    background-color:#ce0100;
}.logarEntrar:active {
    position:relative;
    top:1px;
}